.modalBackdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  
  .modalWrapper {
    margin: 10px auto;
    padding-bottom: 10px;
    box-shadow: 0px 2px 6px #000;
    border-radius: 20px;
    position: fixed;
    width: 100%;
    max-width: 1250px;
    min-height: 30vh;
    max-height: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11111;
    background-color: #99d0d2;
    overflow: hidden;
  }
  
  .modalHeader {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans';
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .modalClose {
    text-align: center;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(114, 138, 173)y;
    line-height: 1.2em;
    color: #fff;
    transition: all 1s ease;
  }

  .modalClose:hover {
    cursor: pointer;
    transform: rotate(4turn) scale(1.5, 1.5);
    transition: all 1s ease;
  }

  .modalTitle {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    background-color: rgb(114, 138, 173);
    width: 100%;
    padding-top: 1%;
    padding-left: 46%;
    padding-right: 1%;
    text-align: center;
    box-shadow: 0px 0px 1px rgb(11, 4, 54);
    font-size: 1.2em;
    text-shadow: 1px -1px black,
    -1px 1px black,
    1px 1px black,
    -1px -1px black;
  }

  .titleBox {
    font-size: 1.3em;
  }