
  .slider {
    position: relative;
    max-width: 1000px;
    min-height: 50vh;
    max-height: 50vh;
    margin: 0 auto;
  }

  
  .slide {
    position: relative;
    display: none;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
    max-height: 50vh;
  }

  .sliderImg {
    display: flex;
    flex-direction: column;
  }
  
  .sliderImg span {
    transform: translateX(-50%);
    color: #000;
    margin-left: 55%;
  }
  
  .sliderImg img {
    width: auto;
    max-height: 30vh;
  }
  
  .slideNav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .preview {
    margin: 0 2px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 3px solid gray;
  }
  
  .preview.active {
    border-color: skyblue;
  }
  
  .slideNav-next-prev .next-prev {
    position: absolute;
    top: 50%;
    font-size: 3em;
    cursor: pointer;
    transform: translateY(-100%);
    z-index: 10000;
  }
  
  .next {
    right: -50px;
  }
  
  .prev {
    left: -50px;
  }
  
  .imageList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .imageList > div {
    flex: 1 33%;
    padding: 5px;
    cursor: pointer;
  }
  
  .imageList > div img {
    width: 100%;
    border: 3px solid gray;
  }
  
  .imageList > div.active img {
    border-color: skyblue;
  }

  .sliderInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 40vh;
    min-height: 40vh;
  }

  .sliderText {
    white-space: pre-line;
    margin-right: 2.5%;
  }

  .slideLinks a{
    color: black;
  }

  .slideLinks a:visited {
    color: black;
  }

  .slideLinks {
    display: flex;
    flex-direction: column;
  }

  .webLink {
    width: 5%;
  }

  .webLink:hover {
    text-decoration: underline;
  }