
  .slider {
    position: relative;
    max-width: 1000px;
    min-height: 50vh;
    max-height: 50vh;
    margin: 0 auto;
  }

  
  .slide {
    position: relative;
    display: none;
  }
  
  @keyframes fade {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
    max-height: 50vh;
  }

  .sliderImg {
    display: flex;
    flex-direction: column;
  }
  
  .sliderImg span {
    transform: translateX(-50%);
    color: #000;
    margin-left: 55%;
  }
  
  .sliderImg img {
    width: auto;
    max-height: 30vh;
  }
  
  .slideNav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .preview {
    margin: 0 2px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 3px solid gray;
  }
  
  .preview.active {
    border-color: skyblue;
  }
  
  .slideNav-next-prev .next-prev {
    position: absolute;
    top: 50%;
    font-size: 3em;
    cursor: pointer;
    transform: translateY(-100%);
    z-index: 10000;
  }
  
  .next {
    right: -50px;
  }
  
  .prev {
    left: -50px;
  }
  
  .imageList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .imageList > div {
    flex: 1 33%;
    padding: 5px;
    cursor: pointer;
  }
  
  .imageList > div img {
    width: 100%;
    border: 3px solid gray;
  }
  
  .imageList > div.active img {
    border-color: skyblue;
  }

  .sliderInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 40vh;
    min-height: 40vh;
  }

  .sliderText {
    white-space: pre-line;
    margin-right: 2.5%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(202, 255, 246);
    padding: 2%;
    box-shadow: 1px 1px rgb(35, 52, 57);
    overflow-y: auto;
  }

  .slideLinks {
    display: flex;
    flex-direction: row;
  }

  .webLink:link {
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-shadow: 1px -1px black,
    -1px 1px black,
    1px 1px black,
    -1px -1px black;
    width: 7%;
    padding: 0.5%;
    border-radius: 10px;
    margin: 0.5%;
    border: 1px solid black;
    text-align: center;
    box-shadow: 1px 1px rgb(35, 52, 57);
    background: radial-gradient(ellipse, lightblue 20%, rgb(136, 201, 223) 50%, rgb(109, 171, 192) 78%, rgb(101, 138, 132));
    transition: all 0.2s ease;
  }

  .webLink:hover {
    text-decoration: underline;
    background: radial-gradient(ellipse, lightblue 40%, rgb(136, 201, 223) 70%, rgb(109, 171, 192));
    transform: scale(1.05, 1.05);
    transition: all 0.2s ease;
  }

  .webLink:hover:focus {
    text-decoration: underline;
    background: radial-gradient(ellipse, rgb(101, 138, 132) 20%, rgb(109, 171, 192) 50%, rgb(136, 201, 223) 78%, lightblue);
  }
  
  .webLink:visited {
    width: 7%;
    padding: 0.5%;
    border-radius: 10px;
    margin: 0.5%;
    border: 1px solid black;
    text-align: center;
    box-shadow: 1px 1px rgb(35, 52, 57);
    background: radial-gradient(ellipse, lightblue 20%, rgb(136, 201, 223) 50%, rgb(109, 171, 192) 78%, rgb(101, 138, 132));
    transition: all 0.2s ease;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 1px -1px black,
    -1px 1px black,
    1px 1px black,
    -1px -1px black;
  }