
  .slider {
    position: relative;
    max-width: 1000px;
    min-height: 50vh;
    max-height: 50vh;
    margin: 0 auto;
  }

  
  .slide {
    position: relative;
    display: none;
    font-family: 'Josefin Sans'
  }
  
  @keyframes fade {
    from {
      opacity: 0.9;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
    max-height: 50vh;
  }

  .sliderImg {
    display: flex;
    flex-direction: column;
  }
  
  .sliderImg img {
    width: auto;
    max-height: 30vh;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1px rgb(11, 4, 54);
  }

  .caption {
    width: 100%;
    background-color: rgb(114, 138, 173);
    color: white;
    text-shadow: 1px -1px black,
    -1px 1px black,
    1px 1px black,
    -1px -1px black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgb(11, 4, 54);
    box-shadow: 1px 1px rgb(11, 4, 54);
  }
  
  .slideNav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .preview {
    margin: 0 2px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 3px solid gray;
  }
  
  .preview.active {
    border-color: skyblue;
  }
  
  .slideNav-next-prev .next-prev {
    position: absolute;
    top: 47%;
    font-size: 2em;
    cursor: pointer;
    color: rgb(114, 138, 173);
    transform: translateY(-100%);
    z-index: 10000;
    background-color: rgb(11, 4, 54);
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgb(77, 243, 215),
    -2px 2px 2px rgb(202, 255, 246),
    2px -2px 2px rgb(202, 255, 246),
    -2px -2px 2px rgb(77, 243, 215);
    transition: all 0.25s ease;
  }
  
  .next {
    right: -75px;
  }

  .next:hover {
    color: rgb(11, 4, 54);
    background-color: rgb(114, 138, 173);
    box-shadow: 2px 2px 2px rgb(202, 255, 246),
    -2px 2px 2px rgb(77, 243, 215),
    2px -2px 2px rgb(77, 243, 215),
    -2px -2px 2px rgb(202, 255, 246);
    transition: all 0.25s ease;
  }
  
  .prev {
    left: -75px;
  }

  .prev:hover {
    color: rgb(11, 4, 54);
    background-color: rgb(114, 138, 173);
    box-shadow: 2px 2px 2px rgb(202, 255, 246),
    -2px 2px 2px rgb(77, 243, 215),
    2px -2px 2px rgb(77, 243, 215),
    -2px -2px 2px rgb(202, 255, 246);
    transition: all 0.25s ease;
  }
  
  .imageList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .imageList > div {
    flex: 1 33%;
    padding: 5px;
    cursor: pointer;
  }
  
  .imageList > div img {
    width: 100%;
    border: 3px solid gray;
  }
  
  .imageList > div.active img {
    border-color: skyblue;
  }

  .sliderInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 40vh;
    min-height: 40vh;
  }

  .sliderText {
    white-space: pre-line;
    margin-right: 2.5%;
    border-radius: 10px;
    background-color: rgb(202, 255, 246);
    padding: 2%;
    box-shadow: 1px 1px rgb(35, 52, 57);
    overflow-y: auto;
    text-align: left;
  }

  .slideLinks {
    display: flex;
    flex-direction: row;
  }

  .webLink:link {
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-shadow: 1px -1px black,
    -1px 1px black,
    1px 1px black,
    -1px -1px black;
    width: 7%;
    padding: 0.5%;
    padding-top: 1%;
    border-radius: 10px;
    margin: 0.5%;
    margin-top: 0.75%;
    text-align: center;
    box-shadow: 1px 1px rgb(35, 52, 57);
    background: radial-gradient(ellipse, lightblue 20%, rgb(136, 201, 223) 50%, rgb(109, 171, 192) 78%, rgb(101, 138, 132));
    transition: all 0.2s ease;
  }

  .webLink:hover {
    text-decoration: underline;
    background: radial-gradient(ellipse, lightblue 40%, rgb(136, 201, 223) 70%, rgb(109, 171, 192));
    transform: scale(1.05, 1.05);
    transition: all 0.2s ease;
  }

  .webLink:focus:hover {
    text-decoration: underline;
    background: radial-gradient(ellipse, rgb(101, 138, 132) 20%, rgb(109, 171, 192) 50%, rgb(136, 201, 223) 90%, lightblue);
  }
  
  .webLink:visited {
    width: 7%;
    padding: 0.5%;
    border-radius: 10px;
    margin: 0.5%;
    text-align: center;
    box-shadow: 1px 1px rgb(35, 52, 57);
    background: radial-gradient(ellipse, lightblue 20%, rgb(136, 201, 223) 50%, rgb(109, 171, 192) 78%, rgb(101, 138, 132));
    transition: all 0.2s ease;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 1px -1px black,
    -1px 1px black,
    1px 1px black,
    -1px -1px black;
  }