body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8FBFE0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outerbar {
  position: sticky;
  top: 0;
  padding: 0;
  width: 100%;
  margin: 0;
}

.navbar {
  list-style: none;
  display: flex;
  background: #7C77B9;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 10;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.navbutton {
  color: white;
  width: 100%;
  height: 100%;
  padding: 1%;
  text-align: center;
}

.navbutton2 {
  color: white;
  width: 100%;
  height: 100%;
  padding: 0.5%;
  text-align: center;
}

.activeNavbutton {
  background: #3c1f73;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1%;
  text-align: center;
}


.navbutton:hover {
  background: #3c1f73;
  cursor: pointer;
}

.navbutton a{
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.navbutton a:visited {
  color: white;
  text-decoration: none;
}

.navbutton a.active {
  font-weight: bold;
}

a:visited {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.splashbox {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background: #1b2b88;
  color: white;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.skillbox {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  background: #1b2b88;
  color: white;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.skillheader {
  border: solid black 1px;
  padding: 0.33%;
  border-radius: 5px;
  background: white;
  color: black;
  width: 18%;
  text-align: center;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.skillbox ul { 
  max-width: max-content;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.5s;
}

.skillbox ul li {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .01em;
}

.skillheader:hover {
  cursor: pointer;
}

.skillheader:hover + ul {
  max-height: 250px;
}

.skillheader:hover + ul li {
  animation: type 2s steps(100, end);
}

@keyframes type{
  from {width: 0}
  to {width: 100%}
}

.commentForm {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

.submitButton {
  width: 20%;
}

.socialList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
}

.socialIcon {
  width: 30px;
  height: 30px;
}

.socialIcon a {
  width: auto;
  height: auto;
}

.logoImg {
  width: 100%;
  height: 100%;
}

.linklist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.linklistRow1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linklistRow2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linkbox {
  margin-top: 5%;
  background: #32717f;
  color: white;
  padding: 2%;
  width: 20%;
  height: 15%;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.linkbox:hover {
  cursor: pointer;
  background: #1D8A99;
}

.headerbox {
  margin-top: 2%;
  color: white;
  font-size: xx-large;
  text-shadow: -4px 4px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerHeaderbox {
  flex-direction: column;
}